<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pshstgacc;AccountKey=EUE6tZNg4NjoZCcP004TkXHR3lN2KtsOrkR4T2frb7c6YbZUVWNXmFvHnac6KRh51t2bbKFuxepdFFJE8yGSHQ=="/>
  </appSettings>
</configuration>